build/CMakeCache.txt
build/build.ninja
build/cmake_install.cmake
build/compile_commands.json
build/rules.ninja
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/3.13.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.13.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.13.0/CMakeRCCompiler.cmake
build/CMakeFiles/3.13.0/CMakeSystem.cmake
build/CMakeFiles/3.13.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.13.0/CompilerIdCXX/a.exe
build/CMakeFiles/Login_Qt_autogen.dir/AutogenInfo.cmake
build/Headers/moc_Database.cpp_parameters
build/Headers/moc_Login.cpp_parameters
build/Login_Qt.exe
build/.ninja_deps
build/.ninja_log
build/Qt5Core.dll
build/Qt5Gui.dll
build/Qt5Sql.dll
build/Qt5Widgets.dll
build/ui_login.h
build/CMakeFiles/Login_Qt.dir/Code/Database.cpp.obj
build/CMakeFiles/Login_Qt.dir/Code/Login.cpp.obj
build/CMakeFiles/Login_Qt.dir/Code/main.cpp.obj
build/CMakeFiles/Login_Qt.dir/Headers/moc_Database.cpp.obj
build/CMakeFiles/Login_Qt.dir/Headers/moc_Login.cpp.obj
build/CMakeFiles/Login_Qt.dir/Login_Qt_autogen/mocs_compilation.cpp.obj
build/CMakeFiles/Login_Qt_autogen.dir/AutogenOldSettings.txt
build/Headers/moc_Database.cpp
build/Headers/moc_Login.cpp
build/Login_Qt_autogen/moc_predefs.h
build/Login_Qt_autogen/mocs_compilation.cpp
